html {
	overflow-y: scroll;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.mtgcard {
	/*width: 223px;*/
	max-height: 311px;
	border-radius: 11px;
	filter: drop-shadow(8px 8px 10px gray);
}
.mtgcard:hover {
	filter: drop-shadow(8px 8px 10px #3e95e1);
}
.mtgcard-text {
	display: none;
}
.mtgcard-thumb {
	width: 131px;
	border-radius: 5px;
	filter: drop-shadow(4px 4px 5px gray);
}
.mtgcard-select-text {
	white-space: pre-line;
	margin: auto 0 auto 10px;
	max-width: 63%;
}
.mtgcard-wrapper {
	min-width: 233px;
	min-height: 311px;
	padding: 0;
	margin-bottom: 10px;
	margin-right: 25px;
	text-align: left;
	position: relative;
}
.plus-sign {
	position: absolute;
	margin: auto;
	top: 115px;
	left: 0;
	right: 9px;
	text-align: center;
	font-size: 54px;
	color: black;
	border: 3px solid lightgray;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: whitesmoke;
	opacity: 0.5
}
.vote {
	padding: .2rem .55rem;
	margin: .3rem .1rem 0 0;
	font-size: 14px;
}
.btn-gatherer {
	background-color: #bfbfbf82;
	color: #4693ea;
	padding: .2rem .25rem;
	margin: .3rem .1rem 0 0;
}
.btn-gatherer:hover {
	background-color: #9f9f9f82;
	color: #4693ea;
}
.select2-selection {
	height: 186px !important;
	background-color: whitesmoke !important;
}
ul.select2-results__options {
	max-height: 600px !important;
	height: 50% !important;
}
.select2-results__option.loading-results,
.select2-results__option.select2-results__option--load-more {
	display: none;
	/*
	background-image: url('/images/loading.gif');
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 10px 50%;
	*/
}
#upgrade_view {

}
.card-label-container {
	position: absolute;
	top: 45px;
	max-width: 140px;
	right: 0px;
}
.card-label {
	background-color: yellow;
	border-radius: 5px;
	padding-left: 1px;
	padding-right: 5px;
	border: 1px solid black;
	font-size: 14px;
}
.reprint-stack {
	position: absolute;
	display : none;
	text-align: center;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.reprint-stack img {
	transition: transform 0.20s;
}
.reprint-stack img:hover {
	z-index: 201;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transform-style: flat;
	-ms-transform: translateX(35px);
	-webkit-transform: translateX(35px);
	-moz-transform: translateX(35px);
	-o-transform: translateX(35px);
	transform: translateX(35px);
}
.reprint-stack a.link {
	display: none;
}
.reprint-0 {
	top: 0px;
	display : block;
}
.reprint-1 {
	top: 35px;
	display : block;
}
.reprint-2 {
	top: 70px;
	display : block;
}
.reprint-3 {
	top: 105px;
	display : block;
}
.reprint-4 {
	top: 140px;
	display : block;
}
.reprint-5 {
	top: 175px;
	display : block;
}
.reprint-0 img {
	z-index: 0;
}
.reprint-1 img {
	z-index: 1;
}
.reprint-2 img {
	z-index: 2;
}
.reprint-3 img {
	z-index: 2;
}
.reprint-4 img {
	z-index: 3;
}
.reprint-5 img {
	z-index: 4;
}
.reprint-primary {
	display : block;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
}
.reprint-primary img {
	z-index: 200;
}
.cardpanel-current {
	background-color: #f3f3f3;
	padding: 10px;
	padding-top: 46px;
	position: relative;
	min-height: 405px;
}
.centered {
	/*margin-left: auto;
	margin-right: auto;*/
}
.cardpanel-superior {
	/*background-color: #f3f3f3;*/
	padding: 10px;
	border-left: 1px dotted black;
}
.cardpanel-inferior {
	/*background-color: #f3f3f3;*/
	padding: 10px;
	text-align: right;
	border-right: 1px dotted black;
}
.cardrow {
	/*border-bottom: 2px solid black;*/
	min-height: 405px;
	margin-right: -15px;
	margin-left: -15px;
}
.cardpanel-right {
	width: 100%;
	display: inline-block;
}
.pagination {
	margin-bottom: 0.5rem;
}
.filterlist {
	margin-bottom: 10px;
}
.filterlist span {
	margin-right: 10px;
}
.filterlist span input {
	margin-top: 7px;
}
.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search-spinner {
	display: none;
	margin-left: -2rem;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1rem;
}
.ms-options-wrap {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ms-options-wrap > button:focus, .ms-options-wrap > button {
	border: 0;
	font-size: inherit;
	padding: auto 0 auto 0;
	margin-right: 10px;
	color: #495057;
	height: 34px;
}
.ms-options-wrap > .ms-options {
	position: relative;
	width: inherit;
}
.ms-options-wrap > button > span {
	max-width: 136px;
	overflow-x: hidden;
}
@media (max-width: 991px) {
	.mtgcard-text {
		display: block;
	}
	.mtgcard {
		display: none;
	}
	.plus-sign {
		display: none;
	}
	.mtgcard-wrapper {
		min-height: inherit;
		padding: 5px;
		min-width: 150px;
	}
	.cardpanel-current {
		min-height: 140px;
	}
	.cardpanel-current .mtgcard-wrapper {
		width: 100%;
	}
	.cardrow {
		min-height: inherit;
	}
	.reprint-stack img:hover {
		-ms-transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none
	}
	.reprint-stack .btn-gatherer {
		display: none;
	}
	.vote-text {
		display: none;
	}
	.mtgcard-wrapper.reprint-stack {
		border: 1px solid #BBBBBB;
		background-color: #DDDDDD;
		border-radius: 6px;
		border-bottom: none;
		padding-bottom: 15px;
	}
	.mtgcard-wrapper:not(.reprint-stack) {
		border: 1px solid #BBBBBB;
		background-color: #DDDDDD;
		border-radius: 6px;
	}
	.mtgcard-wrapper a.card-link:hover .mtgcard {
		display: block;
		position: absolute;
		left: -230px;
		top: -50px;
		z-index: 202;
	}
	.cardpanel-inferior .mtgcard-wrapper a:hover .mtgcard {
		margin-left: 0;
		left: 200px;
	}
	.card-label-container {
		position: relative;
		top: 0;
	}
}
@media (max-width: 1600px) {
	.cardpanel-current {
		max-width: 41.666667%;
		flex: 0 0 41.666667%;
		-ms-flex: 0 0 41.666667%;
	}
	.cardpanel-superior {
		max-width: 58.333333%;
		flex: 0 0 58.333333%;
		-ms-flex: 0 0 58.333333%;
	}
}