html {
	overflow-y: scroll;
}
body {
	margin-bottom: 50px;
}
button,input[disabled] {
	cursor: not-allowed;
}
.dropdown-menu {
	margin-top: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.mtgcard {
	/*width: 223px;*/
	max-height: 311px;
	border-radius: 11px;
	filter: drop-shadow(4px 4px 5px gray);
}
a.card-link {
	/*position: relative;*/
}
.mtgcard-wrapper a.card-link:hover {
	z-index: 300;
}
a.card-link:hover .mtgcard,a.card-create-link:hover .mtgcard {
	filter: drop-shadow(4px 4px 8px #3e95e1);
}
.mtgcard-wrapper:not(.newcard) .flipper:hover {
	z-index: 201;
}
.mtgcard-wrapper:not(.newcard) .mtgcard:hover {
	max-height: 400px;
	border-radius: 11px !important;
	position: absolute;
	z-index: 301;
}
.cardlist-tabs {
	padding-left: 15px;
	background-color: #f3f3f3;
}
.cardlist-tabs a {
	/*font-size: 15px;*/
}
.cardlist-tabs a.active {
	/*background-color: #007bff !important;
	color: white !important;*/
	font-weight: bold;
}
.cardpanel-tabs {
	padding: 0;
}
.mtgcard-text {
	display: none;
}
.mtgcard-loadspinner {
	position: absolute;
	z-index: 350;
	left: 0;
	right: 0;
	top: 125px;
	width: 60px;
	height: 60px;
	margin: auto;
}
.load-ready .mtgcard-loadspinner {
	display: none;
}
.mtgcard-thumb {
	width: 131px;
	border-radius: 5px;
	filter: drop-shadow(4px 4px 5px gray);
}
.mtgcard-select-text {
	white-space: pre-line;
	margin: auto 0 auto 10px;
	max-width: 63%;
}
.trophy {
	position: absolute;
	top: 25%;
	left: 2.35rem;
}
.inferior-select .trophy {
	color: silver;
}
.superior-select .trophy {
	color: gold;
}
.mtgcard-wrapper {
	/*min-width: 233px;*/
	min-height: 311px;
	padding: 0;
	margin-bottom: 10px;
	margin-right: 25px;
	text-align: left;
	position: relative;
}

.flipper {
	/*
	transition: 0.2s;
	transform-style: preserve-3d;*/
	perspective: 1000px;
	position: relative;

	width: 224px;
	min-height: 311px;
	margin-bottom: 0.75rem;
/*
	width: 100%;
	height: 100%;
*/
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;

	transition: 0.15s;
	transform-style: preserve-3d;
}
.front {
	transform: rotateY(180deg);
}
.back {
	transform: rotateY(0deg);
}
.flipper.load-ready .front {
	transform: rotateY(0deg);

}
.flipper.load-ready .back {
	transform: rotateY(180deg);
}
.card-create-link {
	position: relative;
}
.plus-sign {
	position: absolute;
	margin: auto;
	text-align: center;
	font-size: 54px;
	color: black;
	border: 3px solid lightgray;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: whitesmoke;
	opacity: 0.5;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0
}
.vote {
	padding: .35rem .55rem;
	margin: 0 .5rem .5rem 0;
	font-size: 14px;
	background-color: #e1eaf2;
	border-color: #a8cae8;
}
.vote:hover {
	background-color: #46b0ec82;
}
.vote i {
	font-size: 24px;
}
.vote-up {
	color: green !important;
}
.vote-down {
	color: red !important;
}
.nav-item i {
	font-size: 16px;
}
.nav-item-alternative {
	font-size: 16px !important;
}
.cardpanel-not-found {
	margin-top: 25px;
	margin-left: 15px;
}
.btn-gatherer {
	background-color: #e1eaf2;
	border-color: #a8cae8;
	color: #007bff;
	padding: .35rem .55rem;
	margin: 0 .3rem 0 0;
}
.reprint-stack .btn-gatherer {
	display: none;
}
.btn-gatherer:hover {
	background-color: #46b0ec82;
	color: #105eec;
}
select {
	cursor: pointer;
}
.select2-results > .select2-results__options {
    max-height: 370px !important;
}
.select2-results__option {
	padding: 2px !important;
}
.select2-selection {
	height: 38px !important;
	border: 1px solid #ced4da !important;
}
.select2-selection__arrow {
	height: 38px !important;
}
.select2-selection--single > .select2-selection__rendered {
	line-height: 34px !important;
}
.select2-selection--multiple > .select2-selection__rendered {
	line-height: 1.5 !important;
}
.select2-selection__placeholder {
	color: #495057 !important;
}
#upgrade_view {

}
@media (max-width: 990px) {
	#upgrade_view_container {
		padding: 0;
		max-width: 100% !important;
		width: 100%;
	}
	#upgrade_sign_wrapper {
		display: none;
	}
}

.card-label-container {
	position: absolute;
	top: 45px;
	max-width: 155px;
	right: 0px;
	z-index: 500;
}
.card-label {
	background-color: yellow;
	border-radius: 5px;
	padding-left: 1px;
	padding-right: 5px;
	border: 1px solid black;
	font-size: 14px;
}
.reprint-stack {
	position: absolute;
	display : none;
	text-align: center;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.reprint-stack img.mtgcard {
	transition: transform 0.20s;
}
.reprint-stack .flipper:hover {
	z-index: 201;
}
.reprint-stack img.mtgcard:hover {
	z-index: 201;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transform-style: flat;
	-ms-transform: translateX(35px);
	-webkit-transform: translateX(35px);
	-moz-transform: translateX(35px);
	-o-transform: translateX(35px);
	transform: translateX(35px);
}
.reprint-stack a.link {
	display: none;
}
.reprint-0 {
	top: 0px;
	display : block;
}
.reprint-1 {
	top: 35px;
	display : block;
}
.reprint-2 {
	top: 70px;
	display : block;
}
.reprint-3 {
	top: 105px;
	display : block;
}
.reprint-4 {
	top: 140px;
	display : block;
}
.reprint-5 {
	top: 175px;
	display : block;
}
.reprint-0 img {
	z-index: 0;
}
.reprint-1 img {
	z-index: 1;
}
.reprint-2 img {
	z-index: 2;
}
.reprint-3 img {
	z-index: 2;
}
.reprint-4 img {
	z-index: 3;
}
.reprint-5 img {
	z-index: 4;
}
.reprint-primary {
	display : block;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
}
.reprint-primary img {
	z-index: 200;
}
.cardpanel-current {
	background-color: #f3f3f3;
	padding: 10px;
	/*position: relative;*/
	min-height: 420px;
	padding-top: 52px;
}
#cards {
}
.cardpanel {
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(auto-fill, 280px);
	margin: 10px 0px 25px 15px;
}
.cardpanel-main {
}
.cardrow {
	border-bottom: 1px dotted black;
	min-height: 405px;
}
.pagination {
	margin-bottom: 0.5rem;
}
.pagination .page-link {
	padding-left: .8rem;
	padding-right: .8rem;
}
.filterlist {
	margin-bottom: 10px;
}
.filterlist span {
	margin-right: 10px;
}
.filterlist span input {
	margin-top: 7px;
}
.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search-spinner {
	display: none;
	margin-left: -2rem;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1rem;
}
.ui-menu {
	z-index: 9001;
}
.ms-options-wrap {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ms-options-wrap > button:focus, .ms-options-wrap > button {
	border: 0;
	font-size: inherit;
	padding: auto 0 auto 0;
	margin-right: 10px;
	color: #495057;
	height: 34px;
}
.ms-options-wrap > .ms-options {
	position: relative;
	width: inherit;
}
.ms-options-wrap > button > span {
	max-width: 136px;
	overflow-x: hidden;
}
.ms-options-wrap > .ms-options > ul label {
	padding: 4px 8px 4px 8px;
}
.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
	position: static;
}
@media (max-width: 580px) {
	.pagination .page-item:not(.show-mobile) {
        display: none;
    }
}
@media (min-width: 1020px) {
	.cardpanel-current .mtgcard-wrapper {
		width: 234px;
	}
}
@media (max-width: 1020px) {
	.mtgcard {
		max-height: 260px;
		border-radius: 7px;
	}
	.mtgcard-wrapper {
		width: 187px;
		min-height: 260px;
		margin-right: 10px;
	}
	.cardpanel {
		grid-template-columns: repeat(auto-fill, 213px);
	}
	.cardpanel-current .mtgcard-wrapper {
		margin-left: auto;
		margin-right: auto;
	}
	.flipper {
		min-height: 260px;
		width: 187px;
	}
	.cardpanel .mtgcard-wrapper:not(.newcard) .mtgcard:hover {
		left: -36px;
		margin-right: -36px;
	}
	.card-label-container {
		position: relative;
		top: 0;
		margin-bottom: 0.5rem;
	}
}
